@font-face {
    font-family: rejoy;
    src: url(/media/Rejouice-Headline.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html,
body {
    width: 100%;
    height: 100%;


}

#landing-page {
    width: 100%;
    height: 100vh;
    background-color: aquamarine;
    overflow: hidden;
}


.heading {
    width: 100%;
    height: 100%;
    /* background-color: yellowgreen; */
    padding-left: 10vw;
    padding-top: 1vw;
    background-image: url(/media/bg-rec.jpg);
    background-size: cover;
    background-repeat: no-repeat;



}

.wrapper {
    width: 100%;
    height: 20%;
    /* background-color: rgba(255, 228, 196, 0.568); */
    display: flex;

}

.wrapper h1 {
    font-family: rejoy;
    letter-spacing: 0.2vw;
    font-weight: 900;
    color: white;
    height: 3vw;
    width: 12vw;
    padding-left: 2vw;

    border-radius: 40px;
    font-size: 2.8vw;
}

.wrapper h1:hover {
    background-color: rgba(0, 0, 0, 0.466);

    border-radius: 10px;
}

nav {
    display: inline;
    margin-left: 13vw;
}

a {
    text-decoration: none;
    font-size: 1.8vw;
    color: white;
    padding: 0.7vw;
    border-radius: 10px;
    /* background-color: #836a6a; */
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;

}

nav a:hover {
    background-color: rgba(0, 0, 0, 0.466);
}



.wrapper p {
    color: white;
    margin-left: 19%;
    font-size: 2.4vw;
    /* background-color: red; */
    width: 5%;
    border-radius: 10px;
    padding: 0.5vw 1vw 3vw 1vw;
    height: 32%;
}

.wrapper p:hover {
    background-color: rgba(0, 0, 0, 0.466);
}




.contain {
    width: 50%;
    height: 40%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    /* background-color: chocolate; */
    margin-top: 3vw;
}

.contain h4 {
    text-transform: capitalize;
    margin-bottom: 1vw;
}

.contain h1 {
    width: 60%;
    font-size: 3vw;
    text-transform: capitalize;
}

.contain button {
    color: black;
    margin-top: 2vw;
    padding: 10px;
    border-radius: 30px;
    width: 23%;
    border: 1px solid white;
    text-transform: uppercase;
}

.footer {
    width: 100%;
    height: 10%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    font-weight: 500;
    color: white;
    margin-top: 7vw;
}

.foot-p i {

    color: white;
    position: absolute;
    /* right: 80vw; */
    left: 10vw;
    bottom: 6vw;
    font-size: 2vw;
}

/* .foot-p-two i {

    font-size: 2vw;
    right: 47vw;
    color: red;
    position: absolute;
    bottom: 6vw;
} */

.foot-p {
    width: 30%;
    height: 10%;
    margin-left: 3vw;

}

.foot-p-two {
    width: 30%;
    margin-left: 13vw;

}

/* SECOND-PAGE */

#second-page {
    height: 100vh;
    width: 100%;
    background-color: #836a6a;
    overflow: hidden;
}

.content-page {
    height: 100%;
    width: 100%;
    padding-left: 10vw;
    padding-top: 5vw;
    display: flex;
    background-color: white;
}

.left-box {
    width: 35%;
    height: 100%;
    border-radius: 10px;
    background-image: url(/media/img\ 2.jpg);
    background-color: antiquewhite;
    position: relative;
    background-position: bottom;
}

.left-box p i {
    color: white;
    margin-left: 14vw;
    font-size: 2vw;
    transform: rotate(45deg);
    position: relative;
    bottom: 1vw;
    right: 2vw;
}

.right-box {
    width: 60%;
    height: 100%;
    /* background-color: yellow; */
    display: flex;
    position: relative;
}

.right-top {
    width: 45%;
    height: 50%;
    background-color: antiquewhite;
    background-image: url(/media/rt.jpg);
    margin-left: 2vw;
    background-position: bottom;
    background-size: cover;
    border-radius: 30px;
    position: relative;
    padding: 1vw 2vw;
}

.right-top i {
    color: white;
    /* padding-top: 4vw; */
    position: absolute;
    right: 4vw;
    bottom: 1vw;

    font-size: 1.8vw;
    transform: rotate(45deg);

}

.right-top-two {
    width: 45%;
    height: 50%;
    background-color: aquamarine;
    background-image: url(/media/rt2.jpg);
    background-position: bottom;
    background-size: cover;
    border-radius: 30px;
    margin-left: 1vw;
}

.right-top-two i {
    color: white;
    /* padding-top: 4vw; */
    position: absolute;
    right: 5vw;
    /* bottom: 1vw; */
    top: 18vw;
    font-size: 1.9vw;
    transform: rotate(45deg);

}


.right-bottom {
    width: 94%;
    height: 45%;
    position: absolute;
    top: 54%;
    left: 2vw;
    background-image: url(/media/rbtm.jpg);
    background-color: cadetblue;
    background-position: bottom;
    background-size: cover;
    border-radius: 30px;
    background-repeat: no-repeat;
}

.right-bottom i {
    color: white;
    /* padding-top: 4vw; */
    position: absolute;
    right: 4vw;
    bottom: 1vw;

    font-size: 1.8vw;
    transform: rotate(45deg);
}

h2 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 2vw;
    font-size: 1.5vw;
}

p {
    color: white;
    margin-left: 2vw;
    font-family: Arial, Helvetica, sans-serif;
}

.left-box h2 {
    margin-top: 37.5vw;
}

.right-top h2 {
    margin-top: 16.5vw;
}

.right-top-two h2 {
    margin-top: 16vw;
    font-size: 1.5vw;
}


.right-bottom h2 {
    margin-top: 14.5vw;
}

/* THIRD PAGE IS STARTING */

#third-page {
    width: 100%;
    height: 90vh;
    /* background-color: #836a6a; */
    overflow: hidden;
}

.info-page {
    width: 100%;
    height: 100%;
    margin-left: 8vw;
    /* background: skyblue; */
    display: flex;
    margin-top: 6vw;

}

.third-left-box {
    width: 35%;
    height: 100%;
    /* background-color: rgba(124, 47, 47, 0.856); */
    /* padding-top: 4vw; */

}



.third-left-box h2 {
    text-transform: capitalize;
    color: black;
    width: 65%;
    /* padding-top: 2vw; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vw;
}

.top-p {
    text-transform: capitalize;
    color: black;
    width: 80%;
    line-height: 1.5vw;
    margin-left: 2vw;
    font-family: Arial, Helvetica, sans-serif;

}

.third-left-box h3 {
    margin-top: 2vw;
    margin-left: 6vw;
    font-family: Arial, Helvetica, sans-serif;
}

.third-left-p {
    text-transform: capitalize;
    color: black;
    width: 70%;
    line-height: 1.5vw;
    margin-left: 6vw;
    font-family: Arial, Helvetica, sans-serif;

}


.third-right-box {
    width: 50%;
    height: 70%;
    /* background-color: yellowgreen; */
    background-image: url(/media/third-page.jpg);

    border-radius: 25px;
    background-position: bottom;
    margin-left: 1vw;
    background-size: cover;
    background-repeat: no-repeat;

}

/* FOURTH PAGE KI STARTING  */

#last-page {
    width: 100%;
    height: 45vh;
    background-color: #836a6a;
}

.last-footer-pagee {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.781);
}

/* .left-footer{
    margin-top: 5vw;
    margin-left: 12vw;
    width: 40%;
    text-transform: capitalize;
  
} */

.left-footer h2 {
    margin-top: 5vw;
    margin-left: 12vw;
    width: 60%;
    font-size: 2vw;
    text-transform: capitalize;
    font-family: rejoy;
    letter-spacing: 0.2vw;
    line-height: 2.5vw;

}

.right-footer p {
    width: 60%;
    margin-top: 5vw;
    /* margin-left: 5vw; */
}

.ryt-btn {
    margin-left: 1.6vw;
    margin-top: 2vw;
    font-size: 1vw;
    padding: 1vw;
    width: 10vw;
    border-radius: 30px;
}